field-forms/flows/Field_Forms_Default_Forms_to_Linked_Forms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <actionCalls>
        <name>Provision_Linked_Forms</name>
        <label>Provision Linked Forms</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <actionName>NeuraFormLinkedFormProvisioner</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Provisioning_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workTypeId</name>
            <value>
                <elementReference>workTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defaultStatus</name>
            <value>
                <elementReference>defaultStatusLF</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NeuraFormLinkedFormProvisioner</nameSegment>
        <outputParameters>
            <assignToReference>createdCount</assignToReference>
            <name>createdCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>skippedExistingCount</assignToReference>
            <name>skippedExistingCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <description>Idempotent, bulk-aware provisioning of Linked_Form records from Default_Form mappings. Delegates to the NeuraFormLinkedFormProvisioner invocable Apex so re-trigger doesn't duplicate, all parents in one DML batch share two SOQL queries, and errors are surfaced rather than swallowed.

Inputs: recordId (WO / WOLI / SA Id), workTypeId (optional - inferred from parent WO for WOLIs), defaultStatusLF (defaults to "Not Started").
Outputs: createdCount, skippedExistingCount, errors.</description>
    <environments>Default</environments>
    <interviewLabel>Field Forms - Default Forms to Linked Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Field Forms - Default Forms to Linked Forms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Provisioning_Fault</name>
        <label>Log Provisioning Fault</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>NeuraFormLinkedFormProvisioner fault</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Provision_Linked_Forms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Linked_Form Status to apply on create. Override at call time to control the starting status.</description>
        <name>defaultStatusLF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </variables>
    <variables>
        <description>The recordId where the linked forms should be created against (WorkOrder, WorkOrderLineItem, or ServiceAppointment).</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Work Type Id that has default forms attached. Leave blank for WOLIs - the provisioner will read it from the parent WorkOrder.</description>
        <name>workTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of Linked_Form records created on this invocation.</description>
        <name>createdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Number of Default_Form mappings that were skipped because a Linked_Form for the same parent + template already exists.</description>
        <name>skippedExistingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Per-record error messages from the provisioner, if any.</description>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
