field-forms/flows/Field_Forms_Default_Forms_to_Linked_Forms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountOfReturnedForms</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Default_Forms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Linked_Forms_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIIdFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_Default_Forms_to_Linked_Forms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Linked_Forms_Decision</name>
        <label>Create Linked Forms?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Default_Forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfReturnedForms</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values</targetReference>
            </connector>
            <label>Has Default Forms</label>
        </rules>
    </decisions>
    <description>This process handles the creation of linked forms for default forms attached to a worktype. This can be leveraged as a subflow for record triggered flows.

It currently works for Work Orders, Work Order Line Items and Service Appointments.</description>
    <environments>Default</environments>
    <formulas>
        <name>ServiceAppointmentIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;08p&quot;),{!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>WOLIIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;1WL&quot;),{!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>WorkOrderIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;0WO&quot;),{!recordId},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Field Forms - Default Forms to Linked Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Field Forms - Default Forms to Linked Forms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Linked_Forms</name>
        <label>Create Linked Forms</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>Transform_Default_Forms_to_Linked_Forms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Forms</name>
        <label>Get Default Forms</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Default_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Forms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Default_Forms_to_Linked_Forms</name>
        <label>Transform Default Forms to Linked Forms</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Linked_Forms</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Linked_Form__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Form_Template__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Default_Forms[$EachItem].Form_Template__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Service_Appointment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>serviceAppointmentId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Work_Order_Line_Item__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>WOLIId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Work_Order__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>WorkOrderId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>defaultStatusLF</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>CountOfReturnedForms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>defaultStatusLF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </variables>
    <variables>
        <description>The recordId where the linked forms should be created against.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Work Type Id that have default forms attached.</description>
        <name>workTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
